<h3>Pragmatic Store Order Confirmation</h3>

<p>Dear <%= @order.name %>,

<p>Thank you for your recent order from The Pragmatic Store! You ordered the following items:</p>

<%= render @order.line_items %>

<p>We'll send you a separate email when your order ships</p>

<p>Best,</p>

<p>The Pragmatic Store</p>
